<!DOCTYPE html>
<html>
    <head>
        <style>
                     table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
          }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>PurchaseOrderId</th>
                    <th>PurchaseOrderDetailId</th>
                    <th>DueDate</th>
                    <th>OrderQty</th>
                    <th>ProductId</th>
                    <th>UnitPrice</th>
                    <th>LineTotal</th>
                    <th>ReceivedQty</th>
                    <th>RejectedQty</th>
                    <th>StockedQty</th>
                    <th>ModifiedDate</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let o of order">
                    <td>{{o?.purchaseOrderId}}</td>
                    <td>{{o?.purchaseOrderDetailId}}</td>
                    <td>{{o?.dueDate}}</td>
                    <td>{{o?.orderQty}}</td>
                    <td>{{o?.productId}}</td>
                    <td>{{o?.unitPrice}}</td>
                    <td>{{o?.lineTotal}}</td>
                    <td>{{o?.receivedQty}}</td>
                    <td>{{o?.rejectedQty}}</td>
                    <td>{{o?.stockedQty}}</td>
                    <td>{{o?.modifiedDate}}</td>
                    
                    

                </tr>
               
            </tbody>
        </table>
    </body>
</html>


